.CSSgal {
    position: relative;
    overflow: hidden;
    height: 100%;
    /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
    height: 282px;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
    margin: 7px;
    background-color: #ccc;
}

/* SLIDES */

.CSSgal .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}
.CSSgal .prevNext>div+div {
    visibility: hidden;
    /* Hide all but first P/N container */
}
.CSSgal .prevNext a {
    background: #fff;
    position: absolute;
    width: 50px;
    height: 100px;
    line-height: 110px;
    /* If you want to place numbers */
    text-align: center;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    /* border-radius: 0px 4px 4px 0px; */
}
.CSSgal .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.CSSgal .bullets>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.CSSgal .bullets>a+a {
    background: rgba(255, 255, 255, 0.5);
    /* Dim all but first */
}

.CSSgal .bullets>a:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal>s:target~.bullets>* {
    background: rgba(255, 255, 255, 0.5);
}

/* ACTIVE */
#s1:target~.bullets>*:nth-child(1) {
    background: rgba(255, 255, 255, 1);
}

#s2:target~.bullets>*:nth-child(2) {
    background: rgba(255, 255, 255, 1);
}

#s3:target~.bullets>*:nth-child(3) {
    background: rgba(255, 255, 255, 1);
}

#s4:target~.bullets>*:nth-child(4) {
    background: rgba(255, 255, 255, 1);
}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal>s:target~.prevNext>* {
    visibility: hidden;
}

/* ACTIVE: */
#s1:target~.prevNext>*:nth-child(1) {
    visibility: visible;
}

#s2:target~.prevNext>*:nth-child(2) {
    visibility: visible;
}

#s3:target~.prevNext>*:nth-child(3) {
    visibility: visible;
}

#s4:target~.prevNext>*:nth-child(4) {
    visibility: visible;
}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target~.slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#s2:target~.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#s3:target~.slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#s4:target~.slider {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}

/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal {
    color: #fff;
    text-align: center;
}

.CSSgal .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}

.CSSgal a {
    /* border-radius: 50%; */
    margin: 0 3px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.slider img {
    width: 100%;
    height: 280px;

}

.prevNext svg path {
    fill: #212121 !important;
}

._2gp_O1 {
    transform: rotate(180deg) !important;
}

/*======smaller slider block css starts======*/
#smallSlider{
    display: block;
    flex-flow: row;
    margin-left: 8px;
    margin-right: 8px;

}
#smallSlider article{
    display: flex;
}
 .leftSmall{
    display: block;
    flex-grow: 1;
    overflow: auto;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #fff;
}
.upperSmall{
    display: flex;
    margin: 17px 0 7px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.watch{
    margin-left: 40px; 
}
._2AkmmA._1eFTEo {
    color: #fff;
    background: #2874f0; 
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e0e0e0;
    text-decoration: none;
    margin-left: 710px;
}

.deals>h2{
    font-size: 22px;
    line-height: 32px;
    display: inline-block;
    font-weight: 500;
}

.lowerSmall{
    margin-top: 15px;
    display: flex;
}
.lowerSmall div a {
    text-decoration: none;
    margin-left: 20px;
}
.lowerSmall div a img{
    height: 160px;
    width: 133px;
}
.productName{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-underline-position: under;

}
.productOff{
    color: rgb(56, 142, 60);
    padding-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    text-underline-position: under;

}
.profuctInfo{
    text-underline-position: under;
    opacity: 0.6;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.spacing{
    font: 13px;
}
.rightSmall{
    flex: 0 0 248px;
    max-width: 248px;
    padding: 0px 0px 10px 10px;
}
/*------small slider icor starts---*/


/*three pic block css starts here------*/
#threePicBlock{
    width: 100%;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
}
#threePicBlock article{
        display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
#threePicBlock article a{
    padding-right: 10px;
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}

#threePicBlock article a div{
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.08);
    overflow: hidden;
}

/*three pic block css starts here------*/


/*---top offer css starts----*/
#topOfferBlock{
    margin: 8px;
    height: 350px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #ccc;
}
#topOfferBlock article{
    display: block;
    justify-content: space-between;
    height: 365px;
    flex-grow: 1;
    overflow: auto;
    padding: 0 0 10px 0;
}
.upperTop{
    display: flex;
    margin: 0 0 7px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.upperTop div{
    
    margin-bottom: 15px;
}
.upperTop div h2{
    font-weight: 500;
    margin-left: 10px;
    margin-top: 15px;
}
.upperTop div h3{
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
    margin-left: 12px;
}
.topView{
    color: #fff;
    background: #2874f0;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-left: 950px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
}
.lowerTop{
    display: flex;
    margin-top: 15px;
}

.lowerTop div a{
    text-decoration: none;
    margin-left: 20px;

}
.lowerTop div a img{
    height: 160px;
    width: 133px;
}
.viewAll{
    margin-top: 30px;
}



/*---top offer css starts----*/